* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cad5e3;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    line-height: 1.5;
}

.container {
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.container img {
    width: 95%;
    text-align: center;
    border-radius: 10px;
}

.container-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container h1 {
    font-size: 14px;
    color: rgb(37, 37, 37);
    margin-top: 15px;
}

.container p {
    font-size: 11px;
    color: rgb(136, 136, 136);
    margin: 5px 20px;


}